style: github
template: CHANGELOG.tpl.md
info:
  title: CHANGELOG
  repository_url: https://github.com/Hyprnux/hyprglass
options:
  tag_filter_pattern: "^v"
  commits:
    sort_by: Scope
    filters:
      Type:
        - feat
        - fix
        - perf
        - refactor
        - docs
        - test
        - build
        - ci
        - chore
  commit_groups:
    title_maps:
      feat: Features
      fix: Bug Fixes
      perf: Performance Improvements
      refactor: Code Refactoring
      docs: Documentation
      test: Tests
      build: Build System
      ci: CI/CD
      chore: Chores
  header:
    pattern: "^(\\w*)(?:\\(([\\w\\$\\.\\-\\*\\s]*)\\))?!?: (.*)$"
    pattern_maps:
      - Type
      - Scope
      - Subject
  notes:
    keywords:
      - BREAKING CHANGE
